@(message: String)
<head>
    <script src="@routes.Assets.versioned("lib/lib/codemirror.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/addon/edit/matchbrackets.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/mode/clike/clike.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/lib/codemirror.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/theme/ambiance.css")">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
    var editor;
    var logConsole;
    $( document ).ready(function() {
        // code
        var textArea = document.getElementById('code');
        editor = CodeMirror.fromTextArea(textArea,{
          lineNumbers:true,
          theme:"ambiance",
          mode:"text/x-scala"
        });

        editor.setSize( "100%","900px");
        $("#load").click(function(){
            var fileName = document.getElementById('fileName' ).value;
            $.ajax({
                type: "GET",
                dataType: "text",
                url: "/getFile/"+fileName,
                success: function(data){
                    editor.setValue(data)
                }
            });
        });

        $("#execute" ).click(function(){
            var theFileName = document.getElementById('fileName' ).value;
            $.ajax({
                type: "GET",
                dataType: "text",
                url: "/execute/"+theFileName,
                success: function(data){
                    //alert("execute success");
                }
            });
        });
        $("#save" ).click(function(){
            var theFileName = document.getElementById('fileName' ).value;
            var jsonVal = JSON.stringify({fileName:theFileName,codeChunk:editor.getValue()});
            $.ajax({
                type: "POST",
                url: "/save",
                dataType:"json",
                contentType : 'application/json',
                data : jsonVal,
                success: function(data){
                    //alert("save success");
                }
            });
        });



        // console
        var consoleTextArea = document.getElementById('console');
        logConsole = CodeMirror.fromTextArea(consoleTextArea,{
            lineNumbers:true,
            theme:"ambiance",
            mode:"text/x-scala",
            readOnly:true
        });

        $("#clearLog" ).click(function(){
            $.ajax({
                type: "GET",
                dataType: "text",
                url: "/clearLog",
                success: function(data){
                    logConsole.clear();
                }
            });
        });

        $("#kill" ).click(function(){
            $.ajax({
                type: "GET",
                dataType: "text",
                url: "/kill",
                success: function(data){
                    logConsole.clear();
                }
            });
        });

        var lineLength=0;
        logConsole.setSize( "100%","900px");
        var interval = setInterval( function(){
            var jsonVal = JSON.stringify({fileName:"a",codeChunk:"b"});
            $.ajax({
                type: "POST",
                url: "/getLog",
                dataType:"json",
                contentType : 'application/json',
                data : jsonVal,
                success: function(data){
                    if( lineLength != data.length ){
                        lineLength = data.length;
                        var tempText="";
                        for( var i = 0; i < data.length;i++){
                            var lineNum = data[i].lineNumber;
                            var line = data[i ].line;
                            tempText+= /*lineNum.toString() + ":" +*/ line + "\n";
                        }
                        logConsole.setValue(tempText);
                        var start_cursor = logConsole.getCursor();
                        logConsole.setCursor( {line:logConsole.lineCount(), ch : start_cursor.ch });
                    }
                }
            });
        },500);

        $("#stop" ).click(function(){
            clearInterval(interval);
        });
    });
    </script>

    <style type="text/css">
        .CodeMirror-lines{
            font-size:14px;
        }
    </style>
</head>


<body>
    <br>
    <div class="form-inline">
        <input type="text" id="fileName" name="fileName" class="form-control" placeholder="AccountNick or CharNick" value="Main.scala"/>
        <input type="button" id="load" name="load" class="form-control" value="load">
        <input type="button" id="execute" name="execute" class="form-control" value="execute">
        <input type="button" id="save" name="save" class="form-control" value="save">
        <input type="button" id="clearLog" value="clearLog" class="form-control" >
        <input type="button" id="kill" value="kill" class="form-control" >
        <!--<input type="button" id="stop" value="stopLogConsole" class="form-control" >-->
    </div>

    <br>

    <div style="width:100%">
        <div style="float:left;width:50%"><textarea id="code"></textarea></div>
        <div style="float:left;width:50%"><textarea id="console"></textarea></div>
    </div>




</body>
@* @main("Welcome to Play") {} *@